# Required for Gemini AI (if used)
GEMINI_API_KEY=

# Application URL
APP_URL=

# SMTP Server Credentials & Configuration
SMTP_USER="info@sageonmedia.eu"
SMTP_HOST="server54.areait.lv"
SMTP_TO_EMAIL="info@sageonmedia.eu"
SMTP_PORT="465"
SMTP_PASS=
